*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(#8a5082,#6f5f90);

}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 100px;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section h2{
    position: relative;
    color: #fff;
    font-size: 1.2em;

}

